<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/netapp.png" class="img-responsive img-left" height="200" width="85" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/microsoft.png" class="img-responsive img-centered" height="600" width="300" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/vmware.jpg" class="img-responsive img-centered" height="350" width="300" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/cisco.png" class="img-responsive img-centered" height="450" width="180" alt="">
                    </a>
                </div>
                </div>
            </div>
        </div>
    </aside>